Repository Study-Mole/study-cs-mole, pull requests merged in 2024-12, with the labels that each got.

#36 [JavaScript] Promise
  Images/promise_chaining.png
  Images/promise_fulfilled.png
  Images/promise_pending.png
  JavaScript/Question.md
  JavaScript/Summary.md
  JavaScript/asyncronous_processing.md
  JavaScript/promise.md
Labels: JavaScript

#37 [JavaScript] Memory Structure
  Images/memory_structure_1.png
  Images/memory_structure_2.png
  Images/memory_structure_3.png
  Images/touch-click.png
  JavaScript/Question.md
  JavaScript/Summary.md
  JavaScript/memory_structure.md
Labels: JavaScript

#40 [React] hydration
  React/Question.md
  React/Summary.md
  React/hydration.md
Labels: React

#41 [JavaScript]콜스택과 메모리힙 작성
  JavaScript/Question.md
  JavaScript/Summary.md
  JavaScript/call_stack_memory_heap.md
  JavaScript/images/call_stack.png
  JavaScript/images/call_stack_1.png
  JavaScript/images/call_stack_2.png
  JavaScript/images/call_stack_3.png
  JavaScript/images/call_stack_4.png
  JavaScript/images/call_stack_5.png
Labels: JavaScript

#43 [JavaScript] import와 require의 차이점
  JavaScript/Question.md
  JavaScript/Summary.md
  JavaScript/import_vs_require.md
Labels: JavaScript

#44 [Common] Design Pattern
  Common/Question.md
  Common/Summary.md
  Common/design_pattern.md
  Common/images/MVC_Architecture.png
  Common/images/MVP_Architecture.png
  Common/images/MVVM_Architecture.png
Labels: Common
