Repository Study-Mole/study-cs-mole, pull requests merged in 2025-02, with the labels that each got.

#49 [TypeScript]기본타입과 타입 시스템
  TypeScript/Question.md
  TypeScript/Summary.md
  TypeScript/basic_type&type_system.md
Labels: TypeScript

#47 [Common] 캡슐화와 다형성
  Common/Question.md
  Common/encapsulation_polymorphism.md
  Images/oop1.png
  Images/oop2.png
  Images/oop3.png
  Images/oop4.png
Labels: Common

#48 [Common] CI/CD
  Common/Question.md
  Common/Summary.md
  Common/cicd.md
  Images/vercel(1).png
  Images/vercel(2).png
  Images/vercel(3).png
Labels: Common

#50 [Common] EM, REM, %의 차이
  Common/Question.md
  Common/Summary.md
  Common/em_rem_%.md
Labels: Common

#51 [JavaScript] call vs apply vs bind
  JavaScript/Question.md
  JavaScript/call_vs_apply_vs_bind.md
Labels: JavaScript

#52 [Common] Light House
  Common/Question.md
  Common/Summary.md
  Common/light_house.md
Labels: Common

#55 [Common] FrontEnd Architecture with C4
  Common/Question.md
  Common/Summary.md
  Common/design_pattern.md
  Common/frontend-architecture.md
  JavaScript/destructing_structure.md
  React/life-cycle.md
  TDD/jest.md
  TDD/test_code.md
Labels: Common

#54 [Common] 프론트엔드 성능 지표와 최적화 기법
  Common/Question.md
  Common/performance_metrics.md
Labels: Common

#53 [JavaScript] Object, Set, Map
  JavaScript/Question.md
  JavaScript/Summary.md
  JavaScript/object_set_map.md
Labels: JavaScript

#58 [React]UseEffect 오남용 피하는 방법
  React/Question.md
  React/Summary.md
  React/useEffect.md
Labels: React
